---
title: Zbor Filozofskog fakulteta u Zagrebu
name: PoÄetna
id: index
order: 0
---

- highlight = sorted_articles[0]

- content_for :highlight do
  %article.post
    %h1= link_to highlight[:title], highlight
    = highlight.compiled_content
    %time= localize highlight[:created_at]

- sorted_articles[1..3].each do |article|
  = render 'post', :item => article, :link => true do
    = article.compiled_content

.go= link_to 'Arhiva vijesti &rarr;', @items.find { |item| item[:id] == 'arhiva' }
