!!!
%html{lang: 'hr'}
  %head
    %title Concordia discors · #{@item[:title]}
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width; initial-scale=1; maximum-scale=1'}
    %meta{name: 'generator', content: 'nanoc 3.4.1'}
    %link{href: '/feed.xml', rel: 'alternate', type: 'application/atom+xml', title: 'Atom Feed for Concordia discors'}
    %link{href: '/stylesheets/app.css', rel: 'stylesheet', type: 'text/css'}
    %link{href: '/favicon.ico', rel: 'shortcut icon'}

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27673361-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    %script{src: '/javascripts/zepto.min.js'}
    %script{src: '/javascripts/zepto.fittext.js'}
    %script{src: '/javascripts/helpers.js'}
    %script{src: '/javascripts/responsive.js'}

  %body{class: @item[:id] || @item[:kind]}
    %header#header
      %hgroup
        %h1#logo= link_to image_tag('logo.png'), '/'
        %h2#tagline Akademski zbor Filozofskoga fakulteta u Zagrebu

    %nav
      %ol
        = list_of navigation_pages do |page|
          = link_to_unless_current page[:name], page

    #main{role: 'main'}
      - if content_for(@item, :highlight)
        #highlight
          = content_for(@item, :highlight)

      = yield

    %footer#footer
      %ol
        %li= link_to image_tag('logo/ffzg.png'), 'http://www.ffzg.unizg.hr/', title: 'Filozofski fakultet u Zagrebu', target: '_blank'
        %li= link_to image_tag('logo/unizg.jpg'), 'http://www.unizg.hr/', title: 'Sveučilište u Zagrebu', target: '_blank'
        %li= link_to 'KSFF', 'http://ksff.ffzg.hr/', title: 'Klub Studenata Filozofskog Fakulteta', target: '_blank'
        %li= link_to image_tag('logo/huz.jpg'), 'http://www.huz.com.hr/', title: 'Hrvatska udruga zborovođa', target: '_blank'
